.Wrapper {
  position: relative;
}
.Title {
  margin-top: 40px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(10, 112, 160);
}
.Img {
  position: absolute;
  top: 0;
  right: 0;
  @media (max-width: 1024px) {
    display: none;
  }
}
