.Favorite {
  background-color: rgb(248, 248, 248);
  width: 380px;
  height: 97vh;
  // position: fixed;
  right: 0;
  max-width: 100%;
  padding: 20px 40px 0px;
}
.Favorite h3 {
  font-size: 20px;
  color: rgb(171, 171, 171);
  font-weight: 500;
}
