.Favorite {
  background-color: rgb(248, 248, 248);
  height: 100vh;
  padding: 20px 40px 0px;
  position: relative;
  overflow-y: scroll;
  @media (max-width: 768px) {
    overflow-y: scroll;
    background-color: rgb(248, 248, 248);
    height: 100%;
    padding: 20px 40px 0px;
    right: -400px;
    transition: .3s ease;
    position: fixed;
    z-index: 1000;
  }
}
.FavoriteTitle {
  font-size: 20px;
  color: rgb(171, 171, 171);
  font-weight: 500;
}
.FavoriteText {
  margin-top: 15px;
  font-size: 12px;
  line-height: 12px;
  color: rgb(171, 171, 171);
  @media (max-width: 480px) {
    display: none;
  }
}
.FavoriteShow {
  @media (max-width: 768px) {
    overflow-y: scroll;
    right: 0;
    transition: .3s ease;
    background-color: rgb(248, 248, 248);
    min-height: 100%;
    padding: 40px 10px 30px 20px;
    position: absolute;
    z-index: 1000;
    box-shadow: 0px 0px 10px 0px lightblue;
  }
  @media (max-width: 480px) {
    padding: 40px 10px 30px 20px;
    width: 100vw;
  } 
}
.FavoriteClose {
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
  border-radius: 10px;
  cursor: pointer;
  @media (max-width: 768px) {
    display: block; 
  }
}
